{% load static %}

<ul>
	{% if request.user.is_authenticated %}
		<li>
			Hi, {{request.user.username}}
		</li>
		<li>
			<a href = "{% url 'logout' %}"> Logout</a>	
		</li>
	{% else %}
		<li>
			<a href = "{% url 'login' %}"> Login</a>	
		</li>
		<li>
			<a href = "{% url 'signup' %}"> Signup</a>	
		</li>

	{% endif %}

</ul>

<div>
	<a href = "{% url 'make_post' %}"> Make Post</a>
</div>

<div>
	{% for post in object_list %}
	<!-- can also use posts (model + s) to replace object_list -->
		<a href="{% url 'post_detail' post.id%}">
			<!-- hyper link to the url named 'post_detail' defined under the app level urls.py -->
			<!-- post.id is required parameter (because in urls.py post id is used to find a post:path('posts/<int:pk>/',...-->
			<img src="/{{post.image}}">
		</a>

	{% endfor %}
</div>